{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="sazzad">
  <meta name="description" content="Contact for saz coffee shope">
  <title>Contact</title>
  <link rel="icon" href="{% static 'img/fevicon.jpeg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header style="text-align: center;">
    <img src="{% static 'img/logo.png' %}"
    alt="coffee house logo" class="logo">
    <h1>Contact Us</h1>
    
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'about' %}">About</a> 
          <a href="{% url 'hours' %}">Hours</a>
          <a href="{% url 'price' %}">Price</a> 
        </li>
      </ul>
    </nav>
    <figure>
      <img src="{% static 'img/blackcoffee.jpeg' %}" alt="Black Coffee" title="we love coffee" width="400" height="267">
      <figcaption>
        we love coffee
      </figcaption>
    </figure>
  </header>
  <hr>
  <main>
    <h2>Our Contact Form</h2>
    <section>
      <form method="POST" novalidate>
        <legend>Send Us A Message</legend>
        {% csrf_token %}
        <div>
          {% include 'account/message.html' %}
        </div>
        <div>
          <label for="{{ form.name.id_for_label }}">Name</label>
          {{ form.name }}
          {{ form.name.errors }}
        </div>

        <div>
          <label for="{{ form.email.id_for_label }}">Email</label>
          {{ form.email }}
          {{ form.email.errors }}
        </div>
        <div>
          <label for="{{ form.message.id_for_label }}">Message</label>
          {{ form.message }}
          {{ form.message.errors }}
        </div>
          <button type="submit">Send</button>
          <button type="reset">Reset</button>
      </form>
    </section>
    <hr>
    <section>
      <h2>Our Location</h2>
      <address>
        Savar Dhaka-1244
        <br><br>
        Phone: <a href="tel:+8801869885061">01869885061</a>
      </address>
    </section>
    <section>
      <h3>Google Map</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116754.20361497087!2d90.17900552010745!3d23.869438712250954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755ebd3d6df9569%3A0x277b3819d4da3e91!2sSavar!5e0!3m2!1sen!2sbd!4v1754233938183!5m2!1sen!2sbd" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </main>
  <a href="#">Back to Top</a>
  <hr>
  <footer>
    <p style="text-align: center;">
      copyright &copy; The Sazzad Coffee House
    </p>
  </footer>
</body>

</html>